main {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 0;
}

.header{
  text-align: center;
}

.nav{
  text-align: center;
}
.user{
  text-decoration: none;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.user__profile {
  box-sizing: border-box;
  padding: 2%;
}

.user__profile__image {
  border-radius: 50%;
  width: 100%;
  display: block;
  background-color: white;
}

.user__profile__caption {
  font-size: 2rem;
  color: black;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media screen and (max-width:56.25rem){
  .user__profile__caption{
    font-size: 1.5rem;
  }
  .user{
    width: 50%;
  }
}
