html, body {
  margin: 0 auto;
  font-size: 1.2em;
}

.userprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 30%;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}
